<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Demo</title>
	</head>
	<body>
		<ul>
			{% for flashMsg in app.flashes(type) %}
				...
				{{ flashMsg }}
				...
			{% endfor %}

		</ul>
	</body>
</html>
