<!DOCTYPE html>
<html lang="fr">
	<head>
		<title>The Feed</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="{{ asset('css/style.css') }}">
	</head>
	<body>
		<header>
			<div id="titre" class="center">
				<a href="{{ path('feed') }}">
					<span>The Feed</span>
				</a>
				<nav>
					<a href="{{ path('feed') }}">Créer une publication</a>
					<a href="{{ path('inscription') }}">Inscription</a>
				</nav>
			</div>
		</header>
		
	</body>
</html>
