<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block page_title %}Mon Site{% endblock %}</title>

    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
</head>
<body>


    {% for type, messages in app.flashes %}
        <div class="flash-{{ type }}">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endfor %}


    {% block page_content %}{% endblock %}

</body>
</html>
